<div class="row">
    <div class='d-flex flex-wrap justify-content-evenly align-items-center bg-body-tertiary p-5'>
        <div class="company col-lg-4 p-3">
            <li class='fs-4'>
                <i class="fa-sharp fa-solid fa-truck-fast"></i>
                E-commerce
            </li>
            <h6 clliss=' mt-3'>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint iste, dolorem,
                commodi odit beatae similique ratione deleniti quas repellendus eaque vitae doloribus, nostrum tenetur.
                Modi fuga soluta blanditiis fugit amet!</h6>
        </div>
        <div class="pages d-flex flex-column justify-content-center col-lg-2 p-3">
            <h3 class=''>Pages</h3>
            <li class=''>
                Cart
            </li>
            <li class=''>
                Home
            </li>
            <li class=''>
                Wishlist
            </li>
        </div>
        <div class="Guides d-flex flex-column justify-content-center col-lg-2 p-3">
            <h3 class=''>Guides</h3>
            <li class=''>
                API
            </li>
            <li class=''>
                Backend
            </li>
            <li class=''>
                Agular
            </li>
        </div>
        <div class="connections col-lg-4 p-3">
            <h3 class=''>Contact US</h3>
            <form class='d-flex'>
                <input class='form-control me-2' type="email" placeholder='Enter your email Id' />
                <input class='btn btn-secondary pe-4' type="button" value="Subscribe" />
            </form>
            <div class='icons d-flex justify-content-around mt-3'>
                <li class=''>
                    <i class="fa-brands fa-facebook"></i>
                </li>
                <li class=''>
                    <i class="fa-brands fa-instagram"></i>
                </li>
                <li class=''>
                    <i class="fa-brands fa-github"></i>
                </li>
                <li class=''>
                    <i class="fa-brands fa-linkedin"></i>
                </li>
                <li class=''>
                    <i class="fa-brands fa-whatsapp"></i>
                </li>
                <li class=''>
                    <i class="fa-brands fa-twitter"></i>
                </li>
                <li class=''>
                    <i class="fa-brands fa-youtube"></i>
                </li>
            </div>
        </div>
    </div>
</div>